header{
	text-align: center;
	margin-bottom: 50px;
}

main{
	margin-bottom: 150px;

	.battleground{
		display: flex;
		flex-direction: column;
		width: 501px;
		margin: auto;
		border-bottom: 1px solid black;
		border-right: 1px solid black;

		.row{
			display: flex;
			flex-direction: row;
			/*border: 1px solid black;
			border-top: none;
			border-left: none;*/

			.cell{
				width: 50px;
				height: 50px;
				border: 1px solid black;
				border-right: none;
				border-bottom: none;
			}
		}
	}
}

footer{
	text-align: center;
}